@{
    ViewData["Title"] = "CustomerScreen";
}
<br />@DateTime.Now  <br />
<h1>CustomerScreen</h1>

<form action="Add" method="post">
    <div>
        <label for="customerCode">Customer Code:</label>
        <input type="text" id="customerCode" name="CustomerCode" />
    </div>
    <div>
        <label for="customerName">Customer Name:</label>
        <input type="text" id="customerName" name="CustomerName" />
    </div>
    <div>
        <label for="CustomerAmount">Customer Amount:</label>
        <input type="text" id="CustomerAmount" name="CustomerAmount" />
    </div>
    <!-- Add more fields as needed -->
    <input type="submit" value="Add Customer"/>
</form>
