@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" action="/Patient/AddtoDb">
    <input type="text" name="patientName" />
    <input type="submit" name="" value="Submit" />
</form>
