@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Total Views123</h1>
    <span id="totalViewsCounter"></span>
</div>


<script src="~/js/signalr.js"></script>
<script src="~/js/usersCount.js"></script>