<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <a class="nav-link" [routerLink]="['Login']">Login</a>

        <a class="nav-link" [routerLink]="['AddPatient']">Patient</a>

        <a class="nav-link" [routerLink]="['users']">Users</a>
        <a class="nav-link" [routerLink]="['rxjs']">Rxjs</a>


<div appHighlight>Hover over me!</div>
<router-outlet></router-outlet>
<!--
<button [routerLink]="['child']">Child</button>
<app-customer></app-customer> !-->
